/* .horizontal-box {
	display: flex;
	flex-direction: row;
} */

/* .align-center {
	text-align: center;
} */

/* P {
	width: 100px;
	margin: 0 auto;
} */
*, body, html {
	margin: 0;
	padding: 0;
}

h1 {
	margin-left: 0px;
	margin-bottom: 10px;
	text-align: left;
	background-color: rgb(49, 49, 160);
	color:white;
	position: sticky;
	top: -40px;
}

#content {
	height: 1000px;
	text-align: left;
	position: relative;
}

#menu {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

h3 {
	margin-top: 200px;
	margin-bottom: 500px;
	position: relative;
}

header {
	margin-bottom: 100px;
}

footer {
	text-align: center;
}

/* p {
	text-align: left;
	width: 100px;
	margin: 0 auto;
} */